<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317307417011-1rjickg2816l0je7o0qbf5bkt3eusteu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317307417011-1rjickg2816l0je7o0qbf5bkt3eusteu</string>
	<key>API_KEY</key>
	<string>AIzaSyDyRhq2uw0GISbsfo-NQFdzGQmoVFNgL8I</string>
	<key>GCM_SENDER_ID</key>
	<string>317307417011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asndigital.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-60eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-60eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317307417011:ios:bd69f3adff39dd39069bc6</string>
</dict>
</plist>